@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Index</h2>
<script>

    $(function () {
        $("#datepicker").datepicker();
    });

    $(function () {
        $("#nextBtn").on('click', function () {
            var tmp = $("#NextNumber");
            tmp.html('');
            getNextNumber();

        });
        ShowItems()
    });

    $(function () {
        $("#getItemsAccrodingBtn").on('click', function () {
            ShowAccrodingItems();
        });
    });

    $(function () {
        $("#getItemsAndCountBtn").on('click', function () {
            ShowItemsAndCount();
        });
    });

    function ShowItems() {
        var url = "/api/Calc";
        $.get(url, function (data) {
            var tmp = $("#Items");
            $.each(data, function () {
                tmp.append("<li>" + this + "</li>");
            });
        });
    }

    function ShowAccrodingItems() {
        var request = $('#datepicker').val();
        var url = "/api/BackOffice/GetItemsAccroding?Date=" + request;
        $.get(url, function (data) {
            var tmpItems = $("#Items");
            tmpItems.empty();
            $.each(data, function (i) {
                tmpItems.append("<li>" + data[i].m_Item1 + "," + data[i].m_Item2 + "</li>");
            });
        });
    }

    function ShowItemsAndCount() {
        var url = "/api/BackOffice/GetItemsAndCount";
        $.get(url, function (data) {
            var tmpItems = $("#Items");
            tmpItems.empty();
            $.each(data, function (i) {
                tmpItems.append("<li>" + data[i].m_Item1 + "," + data[i].m_Item2  + "</li>");
            });
        });
    }

    function getNextNumber() {
        var request = $('#Number').val();
        var url = "/api/Calc?Postion=" + request;
        $.get(url, function (data) {
            var tmp = $("#NextNumber");
            tmp.html(data);
        });
    }

</script>
<div>
    <input type="number" id="Number" />
    <button id="nextBtn">Next Number</button>
    <p id="NextNumber">

    </p>
</div>

<div>
    <input type="text" id="datepicker">
    <button id="getItemsAccrodingBtn">Get Items Accroding</button>
</div>

<div>
    <button id="getItemsAndCountBtn">Get Items And Count</button>
</div>

<div id="Items">


</div>

