
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Index</h2>
<div id="nextPositionsData">
    @foreach (var item in @ViewBag.nextPositions)
    {
        <input type="hidden" value='@item' />
    }
</div>
<script>


    $(function () {
        $("#nextBtn").on('click', function () { 
            var request = parseInt($('#Number').val()) + 1; 
            var tmp = $("#NextNumber");  
            var data = $('div#nextPositionsData>input:nth-child(' + request + ')').val();
            if (data !== undefined) { 
                tmp.html(data);
                if (data != -1) {
                    tmp.html(parseInt(data));
                } else {
                    tmp.html('There isn\'t next same value');
                }
            }
            else {
                tmp.html('Invalid value');
            }
        });
    });
</script>

<div>
    <input type="number" id="Number" />
    <button id="nextBtn">Next Number</button>
    <a href="Backoffice">go to backoffice</a>
    <p id="NextNumber">

    </p>
</div>
<div id="Items">
    @foreach (var item in @ViewBag.items)
    {
        <li>@item</li>
    }
</div>